@import "../variables.scss";

.inviteCounter {
    position: fixed;
    bottom: -1em;
    left: -1em;
    width: 6em;
    height: 6em;
    border-radius: 50%;
    background: $red-1;
    display: flex;
    align-items: center;
    justify-content: center;

    .inviteCounter__number {
        color: $white-1;
        font-size: 2em;
        font-weight: 700;
    }
}