// REFACTOR

@import "../variables.scss";

.invitation {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.3em;
    max-width: 40em;
    padding: 0 1em;

    .invitation__data {
        flex: 1;

        .invitation__data-name {
            font-size: 1.2em;
            font-weight: 700;
            margin-right: 0.2em;
        }
        .invitation__data-email {
            font-size: 0.9em;
            font-style: italic;
        }
    }
    .invitation__actions {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        button {
            margin-left: 0.3em;
        }
    }
}
