@import "../variables.scss";

.badge {
    background-color: $blue-1;
    display: inline-block;
    height: 2em;
    width: 2em;
    border-radius: 1em;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 2em;
    color: $white-1;
}
