@import "../variables";

.button {
    cursor: pointer;
    display: block;
    color: $black-1;
    font-size: 0.9em;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
    height: 3em;
    line-height: 3em;
    border: solid 1.5px $white-1;

    &:active {
        outline: none;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: .4;
    }

    &.button--upper {
        text-transform: uppercase;
    }

    &.button--active {
        background: $black-1;
        color: $white-1;
    }

    // COLOR mutations
    &.button--ESTOU_BEM { background: $state_estou_bem; }
    &.button--EU_QUARENTENA { background: $state_em_quarentena; }
    &.button--COM_CONVID_SEM_SINTOMAS { background: $state_com_convid_sem_sintomas; }
    &.button--COM_CONVID_DOENTE { background: $state_com_convid_doente; }
    &.button--RECUPERADO { background: $state_recuperado; }
    &.button--FALECIDO { background: $state_falecido; }
}
