@import "../variables";

select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.input {
    box-sizing: border-box;
    color: $grey-3;
    display: block;
    width: 100%;
    background: $grey-4;
    border: solid .5px rgba(208,208,208,0.3);
    border-radius: 0.2em;
    font-size: 1em;
    // RESPONSIVE
    line-height: 2em;
    padding: 0 0.8em;

    /* Chrome, Firefox, Opera, Safari 10.1+ */
    &::placeholder { 
        color: $grey-3;
        opacity: .6;
    }
    
    /* Internet Explorer 10-11 */
    &:-ms-input-placeholder {
        color: $grey-3;
        opacity: .6;
    }

    /* Microsoft Edge */
    &::-ms-input-placeholder {
        color: $grey-3;
        opacity: .6;
    }

    &.input--textarea {
        padding: 0.8em;
        resize: none;
        line-height: 1.2em;
        height: 10em;
    }

    // State mutations
    &.input--error {
        border: solid 2px $red-error;
        border-radius: 4px;
    }

    &.input--disabled {
        cursor: not-allowed;
    }
}
