// TO REFACTOR

@import "../variables";

$input_padding: 0.6em;

.input {
    position: relative;
    margin-bottom: 1.7em;

    .input__label {
        position: absolute;
        top: 50%;
        left: $input_padding;
        transform: translateY(-50%);
        color: $red-1;
        font-size: 1.4em;
        text-transform: uppercase;
        font-weight: 700;
        transition: transform 0.2s ease-in-out, font-size 0.2s ease-in-out, top 0.2s ease-in-out
    }

    .input__input {
        box-sizing: border-box;
        color: $grey-3;
        display: block;
        width: 100%;
        background: $grey-4;
        border: none;
        border-radius: 0.2em;
        font-size: 1.2em;
        line-height: 3.4em;
        padding: 0 $input_padding;
        
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        &::placeholder { 
            color: $grey-3;
            opacity: .6;
            font-size: 1.2em;
        }
        
        /* Internet Explorer 10-11 */
        &:-ms-input-placeholder {
            color: $grey-3;
            opacity: .6;
            font-size: 1.2em;
        }

        /* Microsoft Edge */
        &::-ms-input-placeholder {
            color: $grey-3;
            opacity: .6;
            font-size: 1.2em;
        }

        &.input--textarea {
            padding: 0.8em;
            resize: none;
            line-height: 1.2em;
            height: 10em;
            font-size: 1.2em;
        }
    }

    .input__add {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 4em;
        background: $red-1;
        display: flex;
        align-items: center;
        justify-content: center;

        .input__add-icon {}
    }

    &.input--active {
        .input__label {
            transform: none;
            top: -0.5em;
            font-size: 1em;
        }
    }
}
