// TO REFACTOR

@import "../variables";

// File sets up all navigation an page content proportions.
// Keep it here in the same place

.page {
    background: $white-1;

    .page__content {
        font-size: 1em;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    // Route mutations
    &.page--login {
        .page__content {}
    }
    &.page--home {
        .page__content {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }
}
