@import "../variables";

// File sets up all navigation an page content proportions.
// Keep it here in the same place

$navigation_height_mobile: 50px;
$navigation_width_desktop: 250px;
$page_content_max_width: 1320px;

.page {
    background: $white-4;

    // Only defining height/width that affects the page
    // General styling still in /components/navigation.scss
    .navigation {
        // RESPONSIVE
        height: $navigation_height_mobile;
        width: 100%;
    }

    .page__content {
        font-size: 1em;
        overflow-x: hidden;
        overflow-y: auto;
        // RESPONSIVE
        padding: 12px;
        height: calc(100vh - #{$navigation_height_mobile});
    }

    .page__spacing_1 { margin-bottom: 5px; }
    .page__spacing_2 { margin-bottom: 10px; }
    .page__spacing_3 { margin-bottom: 15px; }
    .page__spacing_4 { margin-bottom: 20px; }
    .page__spacing_5 { margin-bottom: 25px; }
    .page__spacing_6 { margin-bottom: 30px; }
    .page__spacing_7 { margin-bottom: 35px; }
    .page__spacing_8 { margin-bottom: 40px; }
    .page__spacing_9 { margin-bottom: 45px; }
    .page__spacing_10 { margin-bottom: 50px; }
}

@media screen and (min-width: $break-tablet) {
    .page {
        .page__content {
            padding: 25px;
        }
    }
}

@media screen and (min-width: $break-desktop) {
    .page {
        display: flex;

        .navigation {
            height: 100%;
            width: $navigation_width_desktop;
        }
    
        .page__content {
            padding: 60px;
            height: 100%;
            width: calc(100vw - #{$navigation_width_desktop});
            max-width: $page_content_max_width;
            margin: 0 auto;
        }
    }
}
