// TO REFACTOR
@import "../variables.scss";

.text__title {
    color: $grey-1;
    font-size: 1.8em;
    font-weight: 700;
    margin-bottom: 0.7em;
}

.text__subtitle {
    color: $grey-1;
    font-size: 1.4em;
    line-height: 1.5em;
    font-weight: 500;
    margin-bottom: 0.4em;
}