@import "../variables.scss";

// MUTATIONS
.text--pointer {
    cursor: pointer;
}

.text__title-expense {
    color: $white-2;
    font-size: 36px;
    font-style: italic;
    font-weight: 700;
}

.text__title-heading-2 {
    color: $grey-3;
    line-height: 25px;
    font-weight: 700;
}

.text__title-heading-3 {
    color: $grey-5;
    font-size: 24px;
    margin-bottom: 20px;
}

.text__message {
    font-size: 13px;
}

.text__warning {
    font-size: 16px;
    font-weight: 600;
    margin: 1em 0;
    line-height: 20px;

    svg {
        margin-right: 5px;
    }

    &.text__warning--error {
        color: $red-error;
    }
}

.text--color-warning {
    color: $orange-warning;
}