@import "../variables.scss";

// MUTATIONS
.text--pointer {
    cursor: pointer;
}

.text__title {
    color: $white-2;
    font-size: 2em;
    font-style: italic;
    font-weight: 700;

    &.text__title--black {
        color: $black-1;
    }
}
