// Colors
$white-1: #ffffff;
$white-2: #f9f8f8;
$white-3: #cccccc;
$red-1: #e46f78;
$grey-1: #858585;
$grey-3: #B7B7B7;
$grey-4: #F8F8F8;
$green-1: #66d891;
$yellow-1: #f9e865;
$orange-1: #f97314;

// Shadows
$shadow-2: 0px 0px 6px -4px rgba(0,0,0,0.75);

// TO REFACTOR

$yeallow-1: #D0BE3F; // STATE: EU_QUARENTENA 
$blue-1: #37718E; // STATE: COM_CONVID_SEM_SINTOMAS
$black-1: #191919; // STATE: FALECIDO

// Shadows
$shadow-1: 0px 0px 17px -4px rgba(0,0,0,0.75);

// Color to state attr
$state_estou_bem: $green-1;
$state_em_quarentena: $yellow-1;
$state_com_convid_sem_sintomas: $orange-1;
$state_com_convid_doente: $red-1;
$state_recuperado: $green-1;
$state_falecido: $black-1;

// Breakpoints
$break-mobile: 300px;
$break-tablet: 600px;
$break-desktop: 900px;
$break-hd: 1200px;

$grey-2: #787E8C;
$grey-5: #9B9B9B;
