$white-1: #ffffff;
$white-2: #F2F2F2;
$white-3: #D8D8D8;
$white-4: #F3F3F3;
$white-5: #E9E9E9;
$white-6: #BFBFBF;
$grey-1: #979797; 
$grey-2: #787E8C;
$grey-3: #B7B7B7;
$grey-4: #F8F8F8;
$grey-5: #9B9B9B;
$grey-6: #D1D1D1;
$red-error: #F13030;
$orange-warning: #FF6700;

$shadow-1: 0px 0px 17px -4px rgba(0,0,0,0.75);
$shadow-2: 0px 0px 6px -4px rgba(0,0,0,0.75);

$break-mobile: 300px;
$break-tablet: 600px;
$break-desktop: 900px;
$break-hd: 1200px;
